<template>
  <div class="about">
    <AboutProject></AboutProject>
  </div>
</template>

<script>
import AboutProject from "../components/aboutProject";
export default {
  name: "About",
  components: { AboutProject },
  data: () => ({
    //
  }),
};
</script>
