<template>
  <div class="home">
    <Article></Article>
  </div>
</template>

<script>
// @ is an alias to /src
import Article from "@/components/article";
export default {
  name: "Home",
  components: { Article },
  data: () => ({
    //
  }),
};
</script>
