<template>
  <v-row align="center" justify="center">
    <v-col cols="8">
      <v-card shaped class="mx-auto">
        <v-card-text>
          <p class="display-1 text--primary">
            Summary Generator
          </p>
          <p>
            Summary Generator is a academic project that uses extractive
            summarization techniques to generate the summary. In this technique,
            we used a Glove a pre-trained word embedding model and Smooth
            inverse frequency to generate the summary.
          </p>
          <div class="text--primary">
            <v-icon small>copyright</v-icon>
            <span class="text--small">Stanford NLP</span>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn v-bind:href="gitlink" text color="deep-purple accent-4">
            Learn More
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data: () => ({
    gitlink:
      "https://gitlab.com/thanikshan/generating-short-description-of-videos/-/blob/master/README.md",
  }),
};
</script>
