<template>
  <div>
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col cols="6">
          <v-textarea
            solo
            name="input-7-4"
            auto-grow
            label="Type the article to be sumarrised..."
            v-model="inputSummary"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col>
          <v-spacer></v-spacer>
        </v-col>
        <v-col align="center">
          <v-btn
            align="center"
            v-on:click="getSummary"
            class="light-blue accent-2 dark--text"
            :loading="loadingB"
          >
            <v-icon left>description</v-icon>
            <span>Generate</span>
          </v-btn>
        </v-col>
        <v-col>
          <v-spacer></v-spacer>
        </v-col>
      </v-row>
      <v-row v-if="showOutput" align="center" justify="center">
        <v-col cols="6">
          <span class="headline">Generated Summary</span>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="6">
          <v-textarea
            v-if="showOutput"
            append-icon="file_copy"
            v-on:click:append="appendMethod"
            solo
            name="input-7-5"
            auto-grow
            label="Type the article to be sumarrised..."
            v-model="outputSummary"
          ></v-textarea>
          <v-snackbar v-model="snackbar" :timeout="timeout"
            >Summary Copied
            <v-btn flat x-small color="light blue" @click="snackbar = false">
              Close
            </v-btn>
          </v-snackbar>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { summaryRequest } from "../axiosRequest/summaryRequest";
export default {
  mixins: [summaryRequest],
  data: () => ({
    showOutput: false,
    loadingB: false,
    i: 0,
    inputSummary: "",
    outputSummary: "",
    snackbar: false,
    timeout: 1000,
  }),
  methods: {
    getSummary() {
      this.loadingB = true;
      if (this.inputSummary == "") {
        this.showOutput = false;
        this.i = 0;
      } else if (this.i == 0) {
        this.showOutput = !this.showOutput;
        this.i++;
      }

      this.summary({ article: this.inputSummary })
        .then((response) => (this.outputSummary = response.data.summary))
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loadingB = false));
    },
    appendMethod() {
      this.snackbar = true;
      var textToCopy = document.createElement("input");
      document.body.appendChild(textToCopy);
      textToCopy.setAttribute("id", "dummy_id");
      document.getElementById("dummy_id").value = this.outputSummary;
      textToCopy.select();
      document.execCommand("copy");
      document.body.removeChild(textToCopy);
      console.log("Copy to clipboard called");
    },
  },
};
</script>
