<template>
  <nav>
    <v-app-bar
      flat
      app
      dark
      src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
    >
      <v-toolbar-title class="text-uppercase" v-on:click="$router.push('/')">
        <span class="headline font-weight-thin">Summary</span>
        <span class="headline"> Generator</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon v-bind:href="gitlink">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </v-btn>
      <v-btn icon>
        <router-link to="About">
          <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
        </router-link>
      </v-btn>
    </v-app-bar>
  </nav>
</template>
<script>
export default {
  data: () => ({
    gitlink: "https://gitlab.com/thanikshan",
  }),
};
</script>
